.sequencer-table td, th {
  border: none;
}
.sequencer-cell {
  width: 100%;
  text-align: center;
}
.sequencer-beat-active {
  background-color: blue;
}
.sequencer-beat {
  width:4.2em;
}
.sequencer-head {
  text-align: center;
}
.sequencer-note {
  background-color: #B2DFDB;
}
.sequencer-buttons {
  width: 100%;
  text-align: center;
}