.sequencer-table td, th {
  border: 1px solid #999;
}
.sequencer-cell {
  width: 100%;
  text-align: center;
}
.sequencer-beat-active {
  background-color: blue;
}
.sequencer-beat {
  width:4.2em;
}
.sequencer-buttons {
  width: 100%;
  text-align: center;
}