<table cellspacing="2px">
  <tbody class="sequencer-table">
    <tr>
      <td>Note:</td>
      <td ng-repeat="beat in ctrl.getBeatCount()">
        <div class="sequencer-buttons">
          <md-button ng-click="ctrl.selectBeat(beat)">get</md-button>
          <md-button ng-click="ctrl.writeSelectedBeat(beat)">set</md-button>
          <md-button ng-click="ctrl.addNotesToSelectedBeat(beat)">add</md-button>
        </div>
      </td>
    </tr>
    <tr ng-repeat="note in ctrl.displayedBar.notes">
      <td class="sequencer-note">
        <span class="sequencer-cell">
          {{note.name}}
        </span>
      </td>
      <td class="sequencer-beat" ng-repeat="beat in ctrl.getBeatCount()">
        <div class="sequencer-cell" layout="column" ng-show="!!note.beats[beat]">
          <span>V:{{note.beats[beat].velocity}}</span>
          <span>D:{{note.beats[beat].duration}}</span>
        </div>
      </td>
    </tr>
  </tbody>
</table>