<table cellspacing="2px">
  <tbody class="sequencer-table">
    <tr>
      <td>Note:</td>
      <td class="sequencer-beat" ng-repeat="beat in ctrl.getBeatCount()">
        <div layout="column" layout-align="center center" class="sequencer-buttons">
          <md-button aria-label="get" class="tool-button md-raised" ng-click="ctrl.selectBeat(beat)"><span><i class="fa fa-arrow-circle-up"></i></span>
          </md-button>
          <md-button aria-label="set" class="tool-button md-raised" ng-click="ctrl.writeSelectedBeat(beat)"><span><i class="fa fa-arrow-circle-down"></i></span>
          </md-button>
          <md-button aria-label="add" class="tool-button md-raised" ng-click="ctrl.addNotesToSelectedBeat(beat)"><span><i class="fa fa-plus-circle"></i></span>
          </md-button>
        </div>
      </td>
    </tr>
    <tr ng-repeat="note in ctrl.displayedBar">
      <td class="sequencer-note">
        <span class="sequencer-cell">
          {{note.name}}
        </span>
      </td>
      <td class="sequencer-beat" ng-repeat="beat in ctrl.getBeatCount()">
        <div class="sequencer-cell" layout="column" layout-align="space-around center" ng-show="!!note.beats[beat]">
          <pk-note-params config="note.beats[beat]"></pk-note-params>
          <md-button aria-label="delete" ng-click="ctrl.removeNote(note.name, beat)"><span><i class="fa fa-remove"></i></span>
          </md-button>
        </div>
        <div class="sequencer-cell" layout="column" layout-align="space-around center" ng-hide="!!note.beats[beat]">
          <md-button aria-label="add" class="tool-button" ng-click="ctrl.addNote(note.name, beat)">
            <span><i class="fa fa-plus"></i></span>
          </md-button>
        </div>
      </td>
    </tr>
  </tbody>
</table>